<header>
  <h1>Projects</h1>
  <ul class="actions">
    <li><%= link_to 'Add a project', new_admin_project_path, class: 'new' %></li>
  </ul>
</header>
<div id='projects'>
  <% if @projects.any? %>
    <% @projects.each do |project| %>
      <h2><%= link_to project.name, project %></h2>
      <p><%= project.description %></p>
    <% end %>
  <% else %>
    <h3>No projects added yet.</h3>
  <% end %>
  <br>
</div>
