<h1>Projects Index Page</h1>
<div id='projects'>
  <% if @projects.any? %>
    <% @projects.each do |project| %>
      <h2><%= link_to project.name, project %></h2>
      <p><%= project.description %></p>
    <% end %>
  <% else %>
    <h3>No projects added yet.</h3>
  <% end %>
  <br>
  <%= link_to 'Add a project', new_project_path %>
</div>