<% title(@project.name, 'Projects') %>
<div>
  <h1><%= @project.name %></h1>
  <%= link_to 'Edit Project', edit_project_path(@project) %>
  <p><%= @project.description %></p>
</div>
<br>
<div>
  <button><%= link_to 'Back', root_path %></button>
</div>