/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap/scss/bootstrap";
@import "font_awesome5_webfont";
@import "projects";
@import "tickets";
@import "admin/application";
@import "admin/users.scss";

body {
  font-size: 16px;
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
}

.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .signing-options {
    display: flex;
    justify-content: flex-end;
    .navbar-right {
      display: flex;
      align-items: center;
      height: 24px;
      width: auto;
      p {
        margin: 0;
      }
    }
  }
}

.flash-messages {
  margin-top: 4rem;
}

header {
  position: relative;
  padding-bottom: 2px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;

  &:first-child {
    margin-top: 20px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    max-width: 55%;
  }

  ul.actions {
    @extend .list-unstyled;
    @extend .list-inline;
    display: flex;
    position: absolute;
    bottom: -2px;
    right: 2px;
    width: auto;
    text-align: right;

    li {
      margin-left: 5px;
    }
  }
}



a.new,
a.edit,
a.delete {
  @extend .btn;

  &:before {
    font-family: "Font Awesome 5 Free";
    @extend .fas;
    padding-right: 0.5em;
  }
}

a.new {
  @extend .btn-outline-primary;

  &:before {
    @extend .fa-plus;
  }
}

a.edit {
  @extend .btn-outline-primary;

  &:before {
    @extend .fa-pencil-alt;
  }
}

a.delete {
  @extend .btn-outline-danger;

  &:before {
    @extend .fa-trash;
  }
}

form {
  max-width: 500px;
}

@media screen and (max-width: 780px) {
  .container {
    max-width: 100%;
    padding: 0;
    margin: 0;
    header {
      display: flex;
      max-width: 100%;
      flex-direction: column;
      justify-content: center;
      margin: 0;
      &:first-child {
        width: 100%;
        margin-top: 0;
        padding-bottom: 15px;
      }
      ul.actions {
        justify-content: center;
        width: 100%;
        position: relative;
        margin: 0 0 0.7rem 0;
        li {
          a {
            margin: 0;
          }
        }
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        max-width: 100%;
        text-align: center;
      }
      h1 {
        font-size: 1.8rem;
      }
    }
    p {
      margin: 15px;
    }

    h1 a,
    h2 a,
    h3 a,
    h4 a,
    h5 a,
    h6 a {
      padding-left: 15px;
    }
    .btn {
      margin-left: 15px;
    }
    form {
      margin: 15px;
      input[type="submit"] {
        margin: 15px 0 0 0;
      }
    }
  }
}
